body {
  background-color: #dcc48e;
}
.navbar {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 50px;
}
#content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.weatherCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #eaefd3;
  width: 30vw;
  margin: 50px 50px;
  padding: 50px 50px;
  border-radius: 20px;
}
.weatherCard > div {
  background-color: #b3c0a4;
  color: #27233a;
  height: 33%;
  width: 70%;
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: center;
}
img {
  width: 75px;
  margin-top: 50px;
}
